.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #008CBA;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn-next {
    background-color: #fffd98;
  }
  
  .btn:hover {
    background-color: #fffd73;
    color: #000000;
  }

  selector {
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 20px;
  } 



  
summary {
      font-size: 15px;
    }

    @keyframes glitter {
      0% { color: #fffd73;}
      25% { color: #fffb0c;}
      50% { color: #f3f29f;}
      75% { color: #fffd73;}
      100% { color: #fffd73;}
    }


.glitter-title {
      animation: glitter 2s linear infinite;
    }

.lista-letra-pequena li {
      font-size: 16px;
}

article {
	border: 3px solid #fffeb7;
	padding: 10px;
	margin-bottom: 0px;
}

article h1 {
	margin-top: 0;
}
    
.subrayado {
  text-decoration: underline;
  text-decoration-color: #d8ffbd;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}